/* import fonts */
@font-face {
	font-family: 'Cheltenham Bold Italic';
	src: url('assets/fonts/Cheltenham\ Bold\ Italic.otf');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* disable horizontal scroll */
body {
	overflow-x: hidden;
}

/* Reset buttons' default border and background */
button {
	border: none;
	background-color: transparent;
}

/* Remove default underline on links, and trigger only on hover */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* set default line height for all text-related elements */
h1, h2, h3, p, figcaption {
	line-height: 1.2em;
}

/* set width of images and videos so they fit their container */
img, iframe {
	width: 100%;
}

/*
	Page Header
*/

.times-logo {
	height: 33px;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding: 0.1em 1em;
	border-bottom: 1px solid #e2e2e2;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
}

.header-nav {
	display: flex;
	align-items: center;
}

.material-icons {
	font-size: 1.1em;
}

.fa-search {
	margin: 0 2em 0 1em;
}

.header-nav a {
	font-size: 0.9em;
	letter-spacing: 0.03em;
	color: #000;
}

.account-btn {
	background-color: #547b93;
	border: 1px solid #2e698e;
	color: white;
	padding: 0.8em 1em;
	font-weight: inherit;
	border-radius: 4px;
	font-size: 0.7em;
}

.account-btn:hover {
	background-color: #2e698e;
	cursor: pointer;
}

/* user icon to substitute subscribe and login buttons */
.fa-user {
	display: none;
}

/*
	Page's main section
*/

main {
	margin: 6em 0 0 0;
}

/* 
	Header inside article element
*/
.main-header {
	margin: 2em auto;
	padding: 0 1.5em;
}

/* apply same width to header, text sections, and footer within main */
.main-header,
.article-section,
.main-footer {
	max-width: 600px;
	width: 100%;
}

.main-header h1 {
	font-size: 2.3em;
	font-family: 'Cheltenham Bold Italic';
	padding-bottom: 0.6em;
	border-bottom: 1px solid #ebebeb;
}

/* social media and sharing links */
.social-nav {
	display: flex;
}

.social-nav li {
	background-color: #eee;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.5em;
}

/* remove left margin for first social media link */
.social-nav li:nth-child(1) {
	margin-left: 0;
}

.social-nav a,
.social-nav button {
	font-size: 0.9em;
	color: #000;
}

.main-header .social-nav {
	padding-top: 1.2em;
}

/* largest image right under headline */
.main-image-container {
	width: 100%;
	max-width: 945px;
	margin: 0 auto;
}

/* caption below images and videos */
.media-caption {
	color: #585858;
}

/* caption below main image of the article */
.main-image-container .media-caption {
	width: 75%;
	margin-top: 0.5em;
}

/* media author's credit */
.media-caption span {
	font-size: 0.9em;
	color: #737373;
}

/*
	Article element
*/

/* sections with text */
.article-section {
	margin: 2.5em auto 1em auto;
	font-size: 1.4em;
}

.article-section p {
	margin: 1em 0;
	line-height: 1.3em;
}

.article-section a {
	text-decoration: underline;
	color: #3c769b;
}

.article-section h2 {
	font-weight: bold;
	font-size: 0.95em;
}

/* writer's name */
.writer {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 0.7em;
}

.writer a {
	text-decoration-color: #ccc;
	color: #000;
}

.writer a:hover {
	text-decoration: none;
}

.article-section .publication-date {
	font-size: 0.6em;
	color: #454545;
	font-family: 'Roboto', sans-serif;
	margin: 1.5em 0 2.5em 0;
}

/* subsection inserted within the article's text */
.stories-signup {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding: 0.5em 2em 0.5em 0;
	font-size: 0.9em;
}

.stories-signup strong {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 0.85em;
}

/* 
	Section with illustration thumbnails
*/

.illustration-section {
	width: 100%;
	max-width: 945px;
	min-width: 720px;
	margin: 2em auto 0 auto;
	padding: 0 1.3em;
	overflow-x: hidden;
}

/* illustration title */
.illustration-section h1 {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

.illustration-description {
	color: #666;
	font-size: 0.95em;
}

.thumbnails-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5em;
	margin: 1em 0 4em 0;
}

/* descriptive text under each thumbnail image */
.thumbnails-grid p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.85em;
	font-weight: 400;
	margin-top: 0.5em;
}

.thumbnails-grid strong {
	font-weight: bold;
	font-size: 0.85em;
	margin-right: 0.5em;
}

/* create line above authors' names */
.illustration-author::before {
	content: '';
	width: 60px;
	height: 1px;
	background-color: #000;
	display: block;
	margin-bottom: 1.5em;
}

.illustration-author {
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}

/*
	Media illustrations
*/

/* captions below smaller media content throughout the article */
.media-caption.secondary {
	font-size: 0.75em;
	margin-top: 0.3em;
}

/* caption below video */
.video-container .media-caption {
	width: 85%;
}

/* caption below telescope picture */
.telescope-image .media-caption {
	width: 95%;
}

/*
	Footer inside article element
*/

.main-footer {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	letter-spacing: -0.01em;
	color: #666666;
}

.main-footer p a {
	text-decoration: underline;
}

.main-footer a:hover {
	text-decoration: none;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 1.4em;
	margin-top: 1.5em;
}

.footer-bottom .account-btn {
	width: 50%;
	margin-right: 2.5em;
}

/*
	Bottom navigation section
*/

.navigation-section::before {
	content: '';
	border-top: 2px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	display: block;
	height: 4px;
}

.navigation-section {
	margin: 4em 2.2em 0.5em 2.2em;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 1em;
}

.navigation-section header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0.3em 0;
	font-size: 0.7em;
	color: #4f748b;
}

.navigation-section header a {
	text-decoration: none;
}

.navigation-section .times-logo {
	width: 190px;
}

/* Letter T logo from New York Times */
.letter-logo {
	height: 15px;
	width: 10px;
}

/* container with lists of navigation links */
.navigation-section nav {
	margin-top: 1em;
}

/* subcontainer of lists of navigation links */
.nav-items {
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
}


/* header within each list of navigation links */
.nav-items h3 {
	font-weight: bold;
}

/* individual navigation links */
.nav-list li {
	margin: 1em 0;
}

/* remove bottom margin from the last link of every list */
.nav-list li:last-child {
	margin-bottom: 0;
}

/* list of links under subscribe header */
.subscribe {
	border-left: 1px solid #e2e2e2;
	padding-left: 1em;
}

.subscribe ul {
	padding-right: 6em;
	font-size: 0.85em;
}

/* special styling for links within subscribe section */
.bold {
	font-weight: bold;
	font-size: 1.5em;
}

/* targets every icon under subscribe header */
.bold i {
	font-size: 0.8em;
	margin-right: 0.5em;
}

.bold img {
	margin-right: 0.4em;
}

/* aligns text next to third icon with text above */
.bold:nth-child(3) i {
	margin-right: 0.55em;
}

/* aligns text next to fourth icon with text above */
.bold:nth-child(4) i {
	margin-right: 0.75em;
}

/* adds margin below fourth link under subscribe header */
.bold:nth-child(4) {
	margin-bottom: 1.5em;
}

/* targets second unordered list within subscribe section */
.subscribe ul:nth-child(3) {
	margin-top: 1em;
	border-top: 1px solid #e2e2e2;
	padding-top: 0.5em;
}

/*
	Page footer
*/

.page-footer {
	margin: 0 auto 5em auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 0.7em;
	color: #666666;
	padding: 0 1.5em;
}

.page-footer ul {
	display: flex;
	justify-content: center;
	margin: 1.5em 0;
	flex-wrap: wrap;
	gap: 1.5em;
}

/* Responsiveness */
@media (max-width: 1150px) {
	/* remove all navigation links from display */
	.subscribe,
	.nav-list {
		display: none;
	}

	/* display navigation lists horizontally */
	.nav-items {
		flex-direction: column;
	}

	/* display border at the top of every navigation list */
	.nav-items li {
		border-top: 1px solid #e2e2e2;
		padding: 1.1em 0;
	}

	/* insert text in front of header of "more" list */
	.nav-items li:nth-child(5) h3::before {
		content: "LISTINGS & ";
	}

	/* remove margins from both sides of nav section  */
	.navigation-section {
		padding-bottom: 0;
		margin-left: 0em;
		margin-right: 0em;
	}

	/* insert responsive margins within nav section  */
	.navigation-section header,
	.navigation-section nav {
		margin-left: 3vw;
		margin-right: 3vw;
	}
}

@media (max-width: 1025px) {
	/* remove from display magnifying glass and theme link in page header  */
	.header-nav .fa-search,
	.header-nav a,
	.page-header .account-btn {
		display: none;
	}

	/* display user icon instead of account subscribe and login buttons */
	.fa-user {
		display: block;
		font-size: 1em;
	}
}

/* insert left margin to caption below largest image when viewport width drops 
below image's maximum width of 945 pixels */
@media (max-width: 945px) {
	.main-image-container .media-caption {
		margin-left: 1.4em;
	}
}

@media (max-width: 740px) {
	/* shrink article's headline */
	.main-header h1 {
		font-size: 1.9em;
	}

	/* shrink text throughout article */
	.article-section {
		font-size: 1.25em;
	}

	/* insert padding on both sides of text and headers throughout article so they
	don't touch the edge of the window */
	.article-section p,
	.article-section h2 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.article-section address {
		padding-left: 1.4em;
	}

	.article-section time {
		padding-left: 0.6em;
	}

	.main-footer {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	/* set padding on both side of media content within article to keep them
	aligned with the text above and below */
	.article-section figure {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media (max-width: 600px) {
	/* insert left margin to caption below media content throughout the article 
	when viewport width drops below article's maximum width of 600 pixels */
	.media-caption {
		margin-left: 1.4em;
	}

	/* display comments button and nav links within article footer horizontally */
	.footer-bottom {
		flex-direction: column;
	}

	/* enlarge comments button across container */
	.footer-bottom .account-btn {
		width: 100%;
		margin-bottom: 1em;
	}

	/* remove padding on both side of media content within article to allow them
	to take up the entire viewport width */
	.article-section figure {
		padding-left: 0;
		padding-right: 0;
	}
}
